<html>
<head>
    <link rel="stylesheet" href="/static/css/style.css">

    <script src="/static/libs/pixi/pixi.js" defer></script>
    <script src="/static/js/events.js" defer></script>
    <script src="/static/js/transport.js" defer></script>
    <script src="/static/js/textures.js" defer></script>
    <script src="/static/js/render.js" defer></script>
    <script src="/static/js/main.js" defer></script>
</head>
<body>
    <div id="div-map">
        <div id="map" oncontextmenu="return false;"></div>
    </div>
</body>
</html>